*
  font-family: 'Roboto', sans-serif

$color_blue_dark: #1eacc7
$color_blue: #4CE2FF

=btn_hover
  &:hover
    background-image: none
    background-color: $color_blue


nav
  height: 50px
  background: #212121

header
  position: relative

.menu
  display: flex
  justify-content: space-between
  padding: 13px 71px
  margin: 0
  list-style-image: none
  &_link
    text-decoration: none
    font-weight: 300
    font-size: 15px
    color: #FFFFFF
  &_item
    border-right: 2px dotted black
    padding-right: 44px
    &:last-child
      padding-right: 0

.subheader
  position: absolute
  width: 100%
  height: 84px
  background: rgba(0,0,0,0.6)
  &_logo
    display: block
    max-width: 100%
    margin-top: 16px
  &_official
    margin-top: 6px
    font-weight: 400
    font-size: 13px
    color: #FFFFFF
    opacity: 0.5
  &_call
    color: #FFFFFF
    font-size: 12px
    font-weight: 300
    margin-top: 19px
    text-align: right
  &_phone
    display: block
    margin-top: 8px
    color: #FFFFFF
    font-size: 22px
    font-weight: 400
    text-transform: uppercase
    text-align: right
    line-height: 12px
  &_btn
    margin-top: 19px
    height: 46px
    width: 172px
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
    border-radius: 4px
    background-image: linear-gradient(to top, $color_blue_dark 0%, $color_blue 100%)
    color: #FFFFFF
    font-weight: 400
    font-size: 14px
    text-align: center
    text-transform: uppercase
    +btn_hover

.promo
  min-height: 800px
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat
  padding-top: 150px
  padding-bottom: 135px
  &_header
    font-weight: 700
    font-size: 60px
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    line-height: 60px
    margin-bottom: 0
  &_subheader
    margin-top: 22px
    font-weight: 700
    font-size: 36px
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    line-height: 36px
    margin-bottom: 0
  &_descr
    margin-top: 23px
    font-weight: 400
    font-size: 18px
    line-height: 24px
    text-align: center
    color: #FFFFFF
  &_btn
    margin: 118px auto 0 auto
    height: 63px
    width: 259px
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
    border-radius: 4px
    background-image: linear-gradient(to top, $color_blue_dark 0%, $color_blue 100%)
    color: #FFFFFF
    font-weight: 400
    font-size: 18px
    text-align: center
    text-transform: uppercase
    +btn_hover


.title
  margin-bottom: 0
  margin-top: 38px
  color: #222222
  font-size: 38px
  font-weight: 700
  text-transform: uppercase
  text-align: center
  &_white
    position: relative
    color: white
    z-index: 1

.label
  margin: 0 auto
  height: 24px
  width: 112px
  padding: 5px 12px
  background-color: #000000
  color: #ffffff
  font-size: 11px
  font-weight: 300
  text-transform: uppercase
  text-align: center
  &_black
    position: relative
    background-color: #ffffff
    color: #000000
    z-index: 1

.subtitle
  font-weight: 400
  font-size: 17px
  color: #222222
  margin-top: 8px
  text-align: center
  &_white
    color: white
    position: relative
    z-index: 1

.reasons
  padding: 71px 0 65px 0
  &_block
    display: flex
    justify-content: center
    align-items: center
    margin-top: 35px
  &_round
    display: flex
    justify-content: center
    align-items: center
    margin-right: 26px
    width: 113px
    height: 113px
    background-color: $color_blue_dark
    border-radius: 100%
  &_descr
    width: 343px
  &_reasons_subtitle
    line-height: 21px
    color: $color_blue_dark
    font-size: 17px
    font-weight: 400
  &_text
    color: #202020
    font-size: 15px
    font-weight: 300
    line-height: 21px


.mobile
  min-height: 864px
  padding: 48px 0 79px 0
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat
  .row
    margin-top: 32px
  &_item
    position: relative
    width: 320px
    height: 280px
    margin: 0 auto
    margin-bottom: 19px
    padding-top: 92px
    &_subtitle
      font-weight: 400
      font-size: 24px
      line-height: 31px
      text-transform: uppercase
      text-align: center
      color: #FFFFFF
    &_plus
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      width: 29px
      height: 29px
      background: #000000
      margin: 0 auto
      border-radius: 100%
      padding: 6px
      bottom: 35px
      left: 50%
      transform: translate(-50%, 0)
      cursor: pointer
      &:before
        content: ""
        display: block
        width: 14px
        height: 2px
        background-color: $color_blue_dark
        transition: 0.5s all
      &:after
        content: ""
        display: block
        width: 2px
        height: 14px
        left: 50%
        background-color: $color_blue_dark
        position: absolute
        transform: translate(-50%, 0)
        transition: 0.5s all
      &:hover
        &:before, &:after
          background-color: $color_blue


@for $i from 1 through 6
  .mobile_item_#{$i}
    background: url("../img/bg/mobile_screen_#{$i}.jpg")




.car
  height: 864px
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat
  padding: 57px 0 137.5px 0
  position: relative
  z-index: 1
  &_black
    right: 0
    top: 0
    position: absolute
    background: black
    height: 502px
    width: 100%
    z-index: 0
  &_img
    display: block
    position: relative
    margin: 25px auto 0 auto
    z-index: 1
  &_text
    margin: 0 auto
    font-weight: 300
    font-size: 17px
    line-height: 24px
    color: #222222
    text-align: center
    width: 327px


.require
  padding: 68px 0 84px 0
  &_block
    margin: 33px 0
    &_nmb
      margin-bottom: 0px
  &_title
    font-weight: 400
    font-size: 22px
    color: #1CA8C3
  &_list
    list-style-type:  none
    padding-left: 50px
    margin-top: 22px
    li
      position: relative
      font-weight: 300
      font-size: 17px
      line-height: 24px
      margin-bottom: 10px
      &:before
        content: ''
        display: block
        position: absolute
        left: -32px
        top: 3px
        width: 21px
        height: 21px
        background: url("../icons/check_blue.svg") center center/cover no-repeat
  &_descr
    margin-top: 25px
    font-size: 17px
    font-weight: 300
    line-height: 24px
    color: #1ca8c3
  .warning
    .require_title
      color: #FF5656
    .require_list
      li
        &:before
          background: url("../icons/check_red.svg") center center/cover no-repeat

.conditions
  min-height: 917px
  padding: 66px 0 26px 0
  .row
    margin-top: 33px
  &_subtitle
    font-weight: 400
    font-size: 22px
    color: #1CA8C3
    &__red
      color: #FF5656
  &_text
    font-weight: 300
    font-size: 17px
    color: #1CA8C3
  &_title
    margin-bottom: 61px
  &_list
    margin-top: 20px
  ul
    list-style-type:  none
    padding-left: 18px
  img
    padding-right: 15px
  li
    font-weight: 300
    font-size: 17px
    line-height: 24px
    color: #222222

.maps
  min-height: 720px
  background: #080816

  &_bg
    background: url("../img/bg/map.jpg") center center/cover no-repeat
    min-height: 720px
    padding: 48px 0 49px 0
  &_btn
    text-decoration: none
    display: block
    margin-top: 479px
    text-align: center
    font-weight: 400
    font-size: 15px
    color: #1FBAD6
    text-transform: uppercase

.footer
  padding: 13px 0 39px 0
  position: relative
  hr
    width: 299px
    height: 4px
    background: #1FBAD6
    margin:  0 auto
    border: 0
    opacity: unset
  &_menu
    display: flex
    justify-content: center
    margin: 0
    margin-top: 32px
    list-style-type:  none
  &_item
    //padding-right: 5px
    margin-right: 48px
    &:last-child
      margin-right: 0
  &_link
    text-decoration: none
    font-weight: 300
    font-size: 15px
    color: #070716
    align-items: center
    text-transform: uppercase
  &_menugrey
    display: flex
    justify-content: center
    margin: 0
    list-style-type:  none
    margin-top: 15px
  &_grey
    margin-right: 22px
    font-weight: 300
    font-size: 11px
    color: #999999
    text-transform: uppercase
    &:last-child
      margin-right: 0
  &_language
    display: block
    font-weight: 400
    font-size: 11px
    color: #1FBAD6
    text-decoration: none
    text-transform: uppercase
    margin: 19px auto 0 auto
    text-align: center
  &_img
    position: absolute
    top: 52px
    right: 23px
  &_icons
    position: absolute
    display: flex
    justify-content: space-between
    top: 52px
    left: 23px
  &_icon
    border-radius: 100%
    background: black
    height: 32px
    width: 32px
    margin-left: 6px



